/* .subclass-tile{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    color: var(--off-white);
    font-size: 12px;
    flex: 1;
} */